/*
 * Globals
 */
/* Utilities*/
/* Links */
a,
a:focus {
  color: #fff; }

a:hover {
  color: #fd5a53 !important; }

ul {
  list-style: none; }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333; }

body {
  color: #fff;
  text-align: center;
  position: relative; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-nav {
  position: relative; }
  .site-nav a {
    display: inline-block;
    position: absolute;
    right: 17%;
    top: 50px;
    bottom: 0; }

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: url("../images/background.jpg") no-repeat center fixed;
  background-size: cover; }
  .site-wrapper .site-wrapper-inner {
    vertical-align: top;
    margin-top: 180px; }
    .site-wrapper .site-wrapper-inner .cover-container {
      margin-right: auto;
      margin-left: auto; }
      .site-wrapper .site-wrapper-inner .cover-container .cover-heading {
        text-align: center;
        font: bold 2.75em/1em 'Poppins', sans-serif;
        margin: 0 0 0.367em;
        padding: 0;
        letter-spacing: -0.075em; }
      .site-wrapper .site-wrapper-inner .cover-container .social-widget {
        vertical-align: middle;
        color: #fff;
        position: relative; }
        .site-wrapper .site-wrapper-inner .cover-container .social-widget ul {
          padding: 0; }
          .site-wrapper .site-wrapper-inner .cover-container .social-widget ul li {
            display: inline-block;
            margin: 0 5px 5px 0;
            padding: 0; }
    .site-wrapper .site-wrapper-inner .site-content .content-box {
      margin: 5px 0; }
      .site-wrapper .site-wrapper-inner .site-content .content-box .category {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        border: 2px solid #dfdbdf;
        cursor: pointer;
        font-weight: bolder; }
        .site-wrapper .site-wrapper-inner .site-content .content-box .category:hover {
          color: #fd5a53;
          border-color: #fd5a53; }

.site-sidebar {
  visibility: hidden;
  height: 100%;
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: whitesmoke;
  border-top: none;
  text-align: left;
  border-left: 1px solid #e3e3e3;
  padding-right: 0;
  padding-left: 30px;
  z-index: 9999; }
  .site-sidebar .nav > li {
    border-bottom: 1px solid #e5e5e5; }
    .site-sidebar .nav > li a {
      margin: 0 0;
      display: inline-block;
      text-decoration: none;
      color: #444444;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      padding: 24px 0;
      font-family: "Verlag-Book", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .site-sidebar ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 95%; }
    .site-sidebar ul li.social-links {
      text-align: center;
      margin-left: -40px; }
      .site-sidebar ul li.social-links a {
        font-size: 18px;
        padding: 24px 10px;
        display: inline-block; }

/* Padding for spacing */
.inner {
  padding: 2rem; }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold; }

/*
 * Affix and center
 */
/* shrink the distance to the top in phone*/
@media (max-width: 576px) {
  .site-wrapper .site-nav {
    display: none; }

  .site-wrapper .site-wrapper-inner .cover-container {
    margin-top: 80px; }

  .site-wrapper .site-wrapper-inner .cover-container .cover-heading {
    font: bold 1.5em/1em 'Poppins', sans-serif; } }

/*# sourceMappingURL=main.css.map */
