/* Side Bar*/
.site-sidebar {
  visibility: hidden;
  height: 100%;
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: whitesmoke;
  border-top: none;
  text-align: left;
  border-left: 1px solid #e3e3e3;
  padding-right: 0;
  padding-left: 30px;
  z-index: 9999;

  .nav > li {
	border-bottom: 1px solid #e5e5e5;

	a {
	  margin: 0 0;
	  display: inline-block;
	  text-decoration: none;
	  color: #444444;
	  text-transform: uppercase;
	  font-weight: 600;
	  font-size: 13px;
	  line-height: 13px;
	  padding: 24px 0;
	  font-family: "Verlag-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
  }

  ul {
	position: relative;
	z-index: 3;
	overflow-y: auto;
	height: 95%;

	li.social-links {
	  text-align: center;
	  margin-left: -40px;

	  a {
		font-size: 18px;
		padding: 24px 10px;
		display: inline-block;
	  }
	}
  }
}
