/* Links */
a,
a:focus {
  color: #fff;
}

a:hover {
  color: $baseColor !important;
}

/* ul's default style*/
ul {
  list-style: none;
}

/* Base structure*/
html,
body {
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  font-family: "Helvetica", "Tahoma", "Arial", "STXihei", "华文细黑", "Microsoft YaHei", "SimSun", "宋体", "Heiti", "黑体", "sans-serif";
}

