/* Links */
a,
a:focus {
  color: #fff;
}

a:hover {
  color: $baseColor !important;
}

/* ul's default style*/
ul {
  list-style: none;
}

/* Base structure*/
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  position: relative;
}
