.site-bg {
  background: url('./images/contact.jpg') no-repeat center fixed;
}

.contact {
  width: 50%;
  height: 520px;
  overflow: hidden;
  margin: auto;

  .contact-title {
	height: 70px;
	line-height: 70px;
	color: #fff;
  }

  .contact-content {
	margin: 0 0 70px;
	background-color: #0a0a0a;
	opacity: .7;
	//background-color: rgba(200, 200, 200, .3);
	border: $border;
	border-radius: $borderRadius;
	color: #fff;
	font-size: 30px;

	p {
	  width: 100%;

	  a {
		text-decoration: underline;
	  }
	}
  }
}
